@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-image: url("./header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;

}

hr {
    border-width: 2px;
    border: 2px solid #F05F44;
    width: 70px;
    margin: auto;
    margin-top: 190px;
    margin-bottom: 30px;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 19px 42px;
    color: white;
    background-color: #F05F44;
}

.btn:hover {
    color: #212529;
    cursor: pointer;
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 5px;
}

@media (min-width:992px) {
    hr {
        margin-top: 220px;
    }
}